[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
google-cloud = "*"
pyarrow = "*"
requests = "*"
google-api-core = "*"
google-cloud-storage = "*"

[dev-packages]

[requires]
python_version = "3.8"
