[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dbt-bigquery= ">=1.7.2,<2.0"
google-api-core = "*"
pandas = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.8"
