[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dbt-bigquery= ">=1.7.2,<2.0"
google-api-core = "*"
pandas = "*"
pyarrow = "*"
altair = "*"
"plotly.express" = "*"
google-cloud = "==0.34.0"
streamlit = "*"
db-dtypes = "==1.2.0"

[dev-packages]

[requires]
python_version = "3.8"
